html {
  position: relative;
  min-height: 100%;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
}

body {
  margin-top: 0px;
  margin-left: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: 50px auto 30px;
}

header {
  background-color: #aca500;
  display: flex;
  align-items: center;
  font-size: large;
  color: #98c0c5;
  padding-left: 2rem;
}

nav {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
}
nav a {
  color: white;
  text-decoration: none;
}

main {
  display: flex;
  flex-wrap: wrap;
  background-color: white;
  color: #4a4737;
  min-height: 60rem;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  padding: 20px 10% 20px 10%;
}

footer {
  background-color: #999265;
}

article {
  background-color: #fcf9f0;
  border: 1pt solid #999265;
  border-radius: 10px;
  padding: 1rem;
  width: 20rem;
  align-self: flex-start;
}

p {
  display: block;
}

form {
  display: flex;
  flex-direction: column;
}
label {
  margin-top: 1rem;
}
textarea {
  height: 6rem;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}
#navbar {
  margin-left: auto;
  margin-right: auto;
}

.react {
  margin-left: 1rem;
}
.react:hover {
  cursor: pointer;
}

.postPreview {
  height: 12rem;
}