/* Page layout */

html {
  margin: 0px;
  height: 100%;
  font-size: 14px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0px;
  min-height: 100%;
  display: grid;
  grid-template-rows: 5rem auto 3rem;
}

header {
  position: relative;
  background-color: #aca500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  width: 100vw;
}

#header-logo {
  margin-right: auto;
  padding-left: 5rem;
  color: #545618;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Arial, sans-serif;
  font-size: 28px;
  font-weight: bolder;
}

#navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  background-color: #918e00;
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.nav-link:hover {
  background-color: #6b6a01;
}

main {
  display: flex;
  background-color: white;
  justify-content: center;
}

footer {
  background-color: #999265;
  text-align: center;
  justify-items: center;
  color: white;
}

/* Main content styling */

section {
  display: flex;
}

article {
  background-color: #fcf9f0;
  border: 1pt solid #999265;
  border-radius: 10px;
  padding: 1rem;
  width: 20rem;
  height: fit-content;
}

p {
  display: block;
}

h2 {
  font-size: 16px;
  font-weight: bold;
}

a {
  color: inherit;
}

/* Form styling */

button {
  margin-top: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 1rem;
}

textarea {
  height: 6rem;
}

/* Post styling */
.post-grid-section {
  display: flex;
  flex-wrap: wrap;
  color: #4a4737;
  min-height: 30rem;
  gap: 1rem;
  justify-content: center;
  margin: 0;
  gap: 1rem;
  padding: 2rem 10%;
}

.post-section {
  display: flex;
  flex-wrap: wrap;
  color: #4a4737;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 0px;
}

.post-section > * {
  min-height: 20rem;
}

.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.post-header {
  min-height: 3rem;
}
.post-body {
  min-height: 3rem;
}
.react {
  margin-left: 1rem;
}
.react:hover {
  cursor: pointer;
}

.postPreview {
  height: 12rem;
}

.tag {
  background-color: #cac6a2;
  border-radius: 8px;
  padding: 2px 5px;
  margin-right: 2px;
}
